<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>-->
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceLogistic" maxBufferSize="2000000000"
                    maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IServiceORDR" maxBufferSize="2000000000"
                    maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IServiceRDR1" maxBufferSize="2000000000"
                    maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IServiceOCRD" maxBufferSize="2000000000"
                    maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IServiceOITM" maxBufferSize="2000000000"
                    maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IServiceOWHS" />
                <binding name="BasicHttpBinding_IServiceOVTG" />
                <binding name="BasicHttpBinding_IServiceOCPR" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5275/ServiceLogistic.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceLogistic"
                contract="ServiceLogistic.IServiceLogistic" name="BasicHttpBinding_IServiceLogistic" />
            <endpoint address="http://localhost:5275/ServiceORDR.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceORDR" contract="ServiceORDR.IServiceORDR"
                name="BasicHttpBinding_IServiceORDR" />
            <endpoint address="http://localhost:5275/ServiceRDR1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceRDR1" contract="ServiceRDR1.IServiceRDR1"
                name="BasicHttpBinding_IServiceRDR1" />
            <endpoint address="http://localhost:5275/ServiceOCRD.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceOCRD" contract="ServiceOCRD.IServiceOCRD"
                name="BasicHttpBinding_IServiceOCRD" />
            <endpoint address="http://localhost:5275/ServiceOITM.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceOITM" contract="ServiceOITM.IServiceOITM"
                name="BasicHttpBinding_IServiceOITM" />
            <endpoint address="http://localhost:5275/ServiceOWHS.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceOWHS" contract="ServiceOWHS.IServiceOWHS"
                name="BasicHttpBinding_IServiceOWHS" />
            <endpoint address="http://localhost:5275/ServiceOVTG.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceOVTG" contract="ServiceOVTG.IServiceOVTG"
                name="BasicHttpBinding_IServiceOVTG" />
            <endpoint address="http://localhost:5275/ServiceOCPR.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceOCPR" contract="ServiceOCPR.IServiceOCPR"
                name="BasicHttpBinding_IServiceOCPR" />
        </client>
    </system.serviceModel>
</configuration>